AI_BACKEND_URL=
AI_BACKEND_TIMEOUT=50
AI_BACKEND_PROXY_TOKEN=
OWNER_BASIC_USER=
OWNER_BASIC_PASSWORD=
OPENAI_API_KEY=
SENTRY_DSN=
PYPI_API_TOKEN=
NPM_TOKEN=
DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=
ANDROID_KEYSTORE_BASE64=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=
ANDROID_STORE_PASSWORD=
